h1{
    background-color: aquamarine;
    padding-left: 550px;
}
.block5{
    width: 50%;
    margin-bottom: 0%;
}
.block5_1{
    width: 50%;
    
}
.block5 .block5_1 img{
    width: 200px;
    height: 200px;
    margin-left: 300%;
    margin-top: -600px;

}

.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.block6{
    width: 30%;
    margin: auto;
    margin-right: 40px;
    margin-top: 100px;
}